<% if patron.standing_alert? %>
  <div class="page-section">
    <h3>Alerts: </h3>
    <div class="ml-4">User is <%= patron.standing %></div>
  </div>
<% end %>

<div class="page-section">
  <h2>Summary</h2>

  <% if patron.fines.sum(&:owed_amount).positive? %>
    <h3>You owe</h3>
    <p><%= number_to_currency patron.fines.sum(&:owed_amount) %></p>
  <% end %>

  <h3>Checkouts: <%= patron.checkouts.length %></h3>

  <% count = patron.checkouts.select(&:recalled?).length %>
  <% if count.positive? %>
      <div class="ml-4"><%= count %> recalled</div>
  <% end %>

  <% count = patron.checkouts.select(&:overdue?).length %>
  <% if count.positive? %>
      <div class="ml-4"><%= count %> overdue</div>
  <% end %>
</div>

<div class="page-section">
  <h3>Holds: <%= patron.holds.length %></h3>
  <% count = patron.holds.select(&:ready_for_pickup?).length %>
  <% if count.positive? %>
      <div class="ml-4"><%= count %> ready for pickup</div>
  <% end %>
</div>
