<%= form_with url: holds_batch_destroy_path, method: :delete, id: 'pending-holds' do %>
  <table class="table">
    <caption>Holds that are not ready for pickup</caption>
    <thead>

    <tr>
      <th scope="col">
        Select <br>
        <%= render SelectAllComponent.new target_keyword: 'pending' %>
      </th>
      <th scope="col">Item</th>
      <th scope="col">Availability</th>
      <th scope="col">Pickup at</th>
      <th scope="col">Pick up by</th>
      <th scope="col">Status</th>
    </tr>
    </thead>

    <tbody>
    <% holds_not_ready.each do |hold| %>
      <tr id="hold<%= hold.key %>">
        <td>
          <%= render SelectAllChildComponent.new key: hold.key, target_keyword: 'pending', name: 'hold_list[]' %>
        </td>
        <td>
          <%= render BibItemComponent.new bibitem: hold %>
        </td>
        <td><%= render_queue_position hold %></td>
        <td class="pickup_at"><span><%= hold.pickup_library_human %></span></td>
        <td class="pickup_by"><span><%= l(hold.fill_by_date, format: :short) %></span></td>
        <td class="hold_status"><span><%= render_status hold %></span></td>
      </tr>
    <% end %>
    </tbody>

  </table>
  <div class="row">
    <div class="col-12 col-lg-10">
      <div class="card">
        <h5 class="card-header">What to do with selected holds</h5>
        <div class="row">
          <div class="col-8">
            <div class="card-body">
              <h5>Edit Selected Holds</h5>
              <%= render partial: 'holds/form_inputs', locals: { validate_pickup_info: false, make_default: false } %>
              <br>
              <%= submit_tag('Update Selected Holds', class: 'btn btn-primary', formmethod: 'PATCH', data: { disable_with: 'Please wait...' }) %>
            </div>
          </div>
          <div class="col-4 border-left">
            <div class="card-body">
              <h5 class="card-title">Cancel Selected Holds</h5>
              <%= submit_tag('Cancel', class: 'btn btn-danger') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
