<%= form_with url: '/holds/multiple', method: :delete do %>
  <table class="table">
    <caption>Holds that are ready for pickup</caption>
    <thead>
    <tr>
      <th scope="col">
        Select <br>
        <%= check_box_tag(:ready_holds, '1', false, data: { select_all: 'ready' }) %>
        <%= label_tag(:ready_holds, 'All') %>
      </th>
      <th scope="col">Title</th>
      <th scope="col">Pickup at</th>
      <th scope="col">Expires</th>
    </tr>
    </thead>
    <tbody>
    <% @holds_ready.each do |hold| %>
      <tr>
        <td>
          <%= render_hold_select hold %>
        </td>
        <th scope="row">
          <%= hold.title %><br>
          <em><%= link_to 'Details', "https://catalog.libraries.psu.edu/catalog/#{hold.catkey}" %></em><br>
          <%= hold.item_type_human %>
        </th>
        <td><%= hold.pickup_library_human %></td>
        <td><%= render_expiration_date hold %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= submit_tag('Cancel Selected Holds') %>
<% end %>
