<% if place_hold_results[:error].present? %>
  <h3> <%= pluralize place_hold_results[:error].length, 'Hold' %> Failed </h3>
  <% place_hold_results[:error].each do |result| %>
    <%= render PlaceHoldErrorComponent.new result: result %>
  <% end %>
  <p><%= t('myaccount.hold.place_hold.error_html') %></p><br>
<% end %>

<% if place_hold_results[:success].present? %>
  <h3> <%= pluralize place_hold_results[:success].length, 'Hold' %> Placed </h3>
  <% place_hold_results[:success].each do |result| %>
    <%= render PlaceHoldSuccessComponent.new result: result %>
  <% end %>
  <p><%= t('myaccount.hold.place_hold.success_html') %></p><br>
<% end %>

<br>

<%= link_to 'Back to Catalog',
            "https://catalog.libraries.psu.edu/catalog/#{@place_hold_catkey}",
            class: 'btn btn-info' %>
<%= link_to 'See all Holds', holds_path, class: 'btn btn-info' %>
