<h1>A Hold Will Be Placed For You</h1>

<p>
  <%= render GenericValueWithLabelComponent, label: 'Title', value: @bib.title %> <br>
  <%= render GenericValueWithLabelComponent, label: 'Author', value: @bib.author %>
</p>

<%= form_with url: '/holds/create', method: :post do %>
  <%= render PlaceHoldHiddenInputComponent, bib: @bib %>
  <%= render partial: 'holds/form_inputs', locals: { validate_pickup_info: true } %>
  <%= render PlaceHoldCheckboxWrapperComponent, holdables: @bib.holdables %>
  <button type="button" class="btn btn-info">Place Hold</button>
  <button type="button" class="btn btn-danger">Cancel</button>
<% end %>
