<h1>A Hold Will Be Placed For You</h1>

<p>
  <%= render GenericValueWithLabelComponent, label: 'Title', value: @bib.title %> <br>
  <%= render GenericValueWithLabelComponent, label: 'Author', value: @bib.author %>
</p>

<%= form_with url: '/holds', method: :post do %>
  <%= render PlaceHoldHiddenInputComponent, bib: @bib %>
  <%= hidden_field_tag :catkey, params[:catkey] %>
  <%= render partial: 'holds/form_inputs', locals: { validate_pickup_info: true } %>
  <%= render PlaceHoldCheckboxWrapperComponent, holdables: @bib.holdables %>
  <%= submit_tag('Place Hold', class: 'btn btn-info') %>
  <button type="button" class="btn btn-danger">Cancel</button>
<% end %>
