<h1>A Hold Will Be Placed For You</h1>

<p>
  <%= render GenericValueWithLabelComponent, label: 'Title', value: @place_hold_form_params[:title] %> <br>
  <%= render GenericValueWithLabelComponent, label: 'Author', value: @place_hold_form_params[:author] %>
</p>

<%= form_with url: '/holds', method: :post do %>
  <%= render PlaceHoldHiddenInputComponent, barcode: @place_hold_form_params[:barcode] %>
  <%= hidden_field_tag :catkey, params[:catkey] %>
  <%= render partial: 'holds/form_inputs', locals: { validate_pickup_info: true } %>
  <%= render PlaceHoldCheckboxWrapperComponent, call_list: @place_hold_form_params[:call_list] %>
  <%= submit_tag('Place Hold', class: 'btn btn-info') %>
  <%= link_to 'Cancel', Rails.application.config.catalog_url + @place_hold_form_params[:catkey], class: 'btn btn-danger' %>
<% end %>
