<%= form_with url: renewals_batch_update_path, method: :patch, id: 'checkouts' do %>
    <table class="table">
      <caption>Checkouts</caption>
      <thead>
      <tr>
        <th scope="col">
          <%= render_renew_button %><br>
          <%= render SelectAllComponent, target_keyword: 'renewal' %>
        </th>
        <th scope="col">Item</th>
        <th scope="col">Times Renewed</th>
        <th scope="col">Due Date</th>
        <th scope="col">Status</th>
        <th scope="col">You Owe</th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <th scope="col" colspan="6"><%= render_renew_button %></th>
      </tr>
      </tfoot>
      <tbody>
      <% @checkouts.each do |checkout| %>
          <tr id="checkout<%= checkout.item_key %>">
            <td>
              <%= render SelectAllChildComponent, key: checkout.item_key, target_keyword: 'renewal' %>
            </td>
            <td>
              <%= render BibItemComponent, bibitem: checkout %>
            </td>
            <td class="renewal_count"><%= checkout.renewal_count if checkout.renewal_count.positive? %></td>
            <td class="due_date"><%= render_checkout_due_date checkout.due_date_human %></td>
            <td class="status"><%= checkout.status_human %></td>
            <td><%= number_to_currency checkout.accrued if checkout.accrued.positive? %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>
