<% if illiad_loans.present? %>
  <table class="table table-responsive-sm">
    <div class='row pl-3 pt-2 pb-3'>
      <h1>Interlibrary Loan Checkouts</h1>
      <p class='pl-2 pt-2'>
        (<a href="<%= ill_manage_link(library_key) %>">Manage your Interlibrary Loans</a>)
      </p>
      <span class="dropdown ml-auto">
        <button
          class="btn btn-primary deflatten dropdown-toggle mb-2"
          type="button"
          id="export-ill-checkouts-btn"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          Export All ILLiad Checkouts
        </button>
        <div class="dropdown-menu" aria-labelledby="export-ill-checkout-btn">
          <p><%= link_to 'RIS File', export_ill_ris_path %></p>
          <%= link_to 'Email', export_ill_checkouts_email_path %>
        </div>
      </span>
    </div>
    <thead>

    <tr>
      <th scope="col">Item</th>
      <th scope="col">Author</th>
      <th scope="col">Due Date</th>
      <th scope="col">Status</th>
    </tr>
    </thead>

    <tbody>
    <% illiad_loans.each_with_index do |checkout, i| %>
      <tr id="checkout-<%= i %>">
        <td id="title-<%= i %>"><span><%= checkout.title %></span></td>
        <td id="author-<%= i %>"><span><%= checkout.author %></span></td>
        <td id="due-date-<%= i %>"><span><%= render_hold_date checkout, date_field: 'due_date' %></span></td>
        <td id="status-<%= i %>"><span><%= checkout.status %></span></td>
      </tr>
    <% end %>
    </tbody>

  </table>
<% end %>
