<% if illiad_loans.present? %>
  <table class="table table-responsive-sm">
    <div class='row pl-3 pt-2 pb-3'>
      <h1>Illiad Checkouts</h1>
      <p class='pl-2 pt-2'>
        (<a href='https://psu-illiad-oclc-org.ezaccess.libraries.psu.edu/illiad/upm/illiad.dll?Action=10&Form=10'>
          Manage your Interlibrary Loans
        </a>)
      </p>
    </div>
    <thead>

    <tr>
      <th scope="col">Item</th>
      <th scope="col">Author</th>
      <th scope="col">Due Date</th>
      <th scope="col">Status</th>
    </tr>
    </thead>

    <tbody>
    <% illiad_loans.each_with_index do |checkout, i| %>
      <tr id="checkout-<%= i %>">
        <td id="title-<%= i %>"><span><%= checkout.title %></span></td>
        <td id="author-<%= i %>"><span><%= checkout.author %></span></td>
        <td id="due-date-<%= i %>"><span><%= render_hold_date checkout, date_field: 'due_date' %></span></td>
        <td id="status-<%= i %>"><span><%= checkout.status %></span></td>
      </tr>
    <% end %>
    </tbody>

  </table>
<% end %>
